:root{
    --base_green : rgb(6, 204, 39);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    height: 4rem;
    width: 100%;
    background-color: var(--base_green);
    padding: 0rem 5rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_logo{
    width: 10%;
    height: 60%;
    border: 2px solid black;
}
.header_searchBox{
    width: 30%;
    height: 60%;
    background-color: white;
    box-shadow: 2px 2px 12px rgb(65, 65, 65);
    border-radius: 0.2rem;
}

.header_login{
    width: 10%;
    height: 60%;
    background-color: white;
    box-shadow: 2px 2px 12px rgb(65, 65, 65);

    color: var(--base_green);
    text-align: center;
    font-size: 1.5em;
}
.header_button_text{
    font-size: 1.5em;
    cursor: pointer;
    font-weight: 500;
    color: white;
}
